* {
  box-sizing: border-box;
}

/* html {
  cursor: url('crosshair.png'), auto;
}

*:hover {
  cursor: url('crosshair.png'), auto;
} */

body {
  background: rgb(0, 0, 0);
  background-image: radial-gradient(rgb(145, 145, 145) .5px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  margin: 0;
  font-family: 'Hershey-Noailles-Times-Simplex-Light', serif;
  font-size: 16px;
  /* background-image: url('background-outline.png'); */
  /* background-color: #000000; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-size: 100% 100%; */
}

body {
  overflow-x: scroll;
}

.content {
  padding-right: 15px;
  /* Add padding to prevent content from overlapping with the scroll bar */
}

::-webkit-scrollbar {
  width: 8.5px;
  height: 8.5px;
  /* Set the width of the scroll bar */
}

::-webkit-scrollbar-track {
  background-color: #5b3e3e;
  border-radius: 5px, dashed;
  /* Set the background color of the scroll bar track */
}

::-webkit-scrollbar-thumb {
  background-color: #d6afcf;
  /* Set the color of the scroll bar thumb */
}

/* Set the position of the scroll bar to fixed */
body::-webkit-scrollbar {
  position: fixed;
  right: 0;
  bottom: 0;
}


img {
  shape-rendering: crispEdges;
}


p {
  padding: 1em;
}

img {
  image-rendering: pixelated;
  width: 100%;
}

h1 {}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}



/* containers */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.total {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ibeam */
.ibeam {
  width: 4vw;
  position: absolute;
  left: 7vw;
  top: 160px;
}

.ibeam:hover {
  transform: translateY(-7px);
  transition: .5s ease;
}

/* glass railing */
.glassrailing {
  width: 20vw;
  position: absolute;
  top: 25vh;
  left: 30vw;
}

.glassrailing:hover {
  transform: skewX(-5deg);
  transition: .5s ease;
}

/* door */
.door {
  width: 10vw;
  position: absolute;
  left: 190vw;
  top: 180px;
}

.door:hover {
  transform: translateY(7px);
  transition: .5s ease;
}

/* ceiling */
.ceiling {
  width: 100vw;
  position: absolute;
  left: -20vw;
  top: -20vh;
}

.ceiling:hover {
  transform: scale(1.1, 1.1);
  transition: .5s ease;
}

/* bench */
.Bench {
  width: 40vw;
  position: absolute;
  left: 130vw;
  top: 25vh;
}

.Bench:hover {
  transform: skewY(3deg);
  transition: .5s ease-in, .5s ease-out;
}

/* billboard */
.billboard {
  width: 25vw;
  position: absolute;
  top: 60vh;
  left: 180vw;
}

.billboard:hover {
  transform: skewX(-2deg);
  transition: .5s ease;
}

/* broom */
.broom {
  width: 20vw;
  position: absolute;
  top: 70vh;
  left: 0vw;
}

.broom:hover {
  transform: skewY(6deg);
  transition: .5s ease;
}

/* fence  */
.fence {
  width: 20vw;
  position: absolute;
  top: 53vh;
  left: 20vw;
}

.fence:hover {
  transform: scale(1.1, 1.1);
  transition: .5s ease;
}

/* Nails */
.nails {
  width: 11vw;
  position: absolute;
  top: -3vh;
  left: 117vw;
}

.nails:hover {
  transform: translateY(-6px);
  transition: .5s ease;
}

/* rocking */
.rocking {
  width: 15vw;
  position: absolute;
  top: 59vh;
  left: 130vw;
}

.rocking:hover {
  transform: rotate(-4deg);
  transition: .5s ease;
}

/* skirt */
.skirt {
  width: 7vw;
  position: absolute;
  left: 14vw;
  top: 0vh;
}

.skirt:hover {
  transform: translateY(10px);
  transition: .5s ease;
}

/* water */
.water {
  width: 16vw;
  position: absolute;
  left: 0vw;
  top: 30vh;
}

.water:hover {
  transform: scale(1.1, 1.1);
  transition: .5s ease;
}

/* folder */
.folder {
  width: 7.5vw;
  position: absolute;
  left: 5vw;
  top: 80vh;
}

.folder:hover {
  transform: translateX(10px);
  transition: .5s ease;
}

/* ladder */
.ladder {
  width: 9vw;
  position: absolute;
  left: 65vw;
  top: 7vh;
}

.ladder:hover {
  transform: rotate(-3deg);
  transition: .5s ease;
}

/* long-key */
.long-key {
  width: 2vw;
  position: absolute;
  left: 75vw;
  top: 75vh;
}

.long-key:hover {
  transform: translateY(-10px);
  transition: .5s ease;
}

/* spiral */
.spiral {
  width: 4vw;
  position: absolute;
  left: 170vw;
  top: 130px;
}

.spiral:hover {
  transform: skewX(-1deg);
  transition: .5s ease;
}

/* antennas */
.antennas {
  width: 14vw;
  position: absolute;
  top: 63vh;
  left: 95vw;
}

.antennas:hover {
  transform: skewX(-3deg);
  transition: .5s ease;
}

/* MDPLS */
.MDPLS {
  width: 25vw;
  position: absolute;
  top: 40vh;
  left: 210vw;
}

.MDPLS:hover {
  transform: skewY(-3deg);
  transition: .5s ease;
}

/* railing */
.railing {
  width: 70vw;
  position: absolute;
  top: 33vh;
  left: 50vw;
}

.railing:hover {
  transform: skewX(-3deg);
  transition: .5s ease;
}

/* fulanita */
.fulanita {
  width: 3vw;
  position: absolute;
  top: 3vh;
  left: 92vw;
}

.fulanita:hover {
  transition: .2s ease;
  opacity: 3%;
}

/* people */
.people {
  width: 8vw;
  position: absolute;
  top: 80vh;
  left: 195vw;
}

.people:hover {
  transform: skewX(-3deg);
  transition: .5s ease;
}

/* mobile medium  */
@media screen and (max-width:1370px) {
  body {
    background-image: none;
    background-color: rgb(0, 0, 0);
    background-image: radial-gradient(rgb(145, 145, 145) .5px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
    ;
  }
}

/* mobile small */
@media screen and (max-width:600px) {
  html {
    font-size: 150%;
  }

  .container {
    margin: 30px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    grid-column: auto;
  }

 
  .glassrailing {
    position: static;
    width: 60vw;
  }

  .door {
    position: static;
    width: 30vw;
  }

  .ceiling {
    position: static;
    width: 101vw;
  }

  .MDPLS {
    position: static;
    width: 70vw;
  }

  .fence {
    position: static;
    width: 59vw;
  }


  .railing {
    position: static;
    width: 91.5vw;
  }

  .long-key,
  .ibeam {
    position: static;
    width: 15vw;
  }

  .spiral {
    position: static;
    width: 15vw;
  }

  .antennas {
    position: static;
    width: 45vw;
  }

  .bench {
    width: 100%;
    margin: 5px 0;
  }

  .broom,
  .water,
  .billboard {
    position: static;
    width: 60vw;
  }

  .Bench {
    position: static;
    width: 100vw;
  }

  .folder {
    position: static;
    width: 40vw;
  }

  .skirt {
    position: static;
    width: 25vw;
  }

  .rocking {
    position: static;
    width: 45vw;
  }

  .nails,
  .ladder {
    position: static;
    width: 35vw;
  }

  .spiral {
    position: static;
    width: 10vw;
  }

  .fulanita {
    position: static;
    width: 20vw;
  }

  .people  {
    position: static;
    width: 45vw;
  }

}

/* /* library cart things

.library-cart-shelf {
  width: 70%;
  position: absolute;
  top: 14%;
  left: 5.5%;
  z-index: 2;
}

.total {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-container {
  position: relative;
  padding: 30px;
}

.round-key-outline {
  width: 9%;
  position: absolute;
  top: 67%;
  left: 50%;
  z-index: 3;
}

.round-key-twitch img {
  transition: 1s ease, transform .5s ease, 1s ease;
  position: relative;
}

.round-key-twitch:hover img {
  transform: rotate(20deg);
}

.text {
  display: none;
  position: absolute;
  bottom: -350%;
  left: -60%;
  width: 500px;
}

.round-key-outline:hover .text {
  display: block;
}

.bell-outline {
  width: 6%;
  position: absolute;
  top: 49%;
  left: 60%;
}

.bell-twitch img {
  transition: 1s ease, transform .5s ease, 1s ease;
}

.bell-twitch:hover img {
  transform: translateY(-5px);
}

.text2 {
  display: none;
  position: absolute;
  bottom: -590%;
  left: 50%;
  width: 500px;
}

.bell-outline:hover .text2 {
  display: block;
}

.shelf {
  width: 9%;
  position: absolute;
  top: 25.5%;
  ;
  left: 28%;
  z-index: 1;
}

.shelf img {
  transition: .5s ease;
}

.shelf:hover img {
  transform: translateX(8px);
}

.text3 {
  display: none;
  position: absolute;
  top: -150px;
  left: 20px;
  width: 500px;
}

.shelf:hover .text3 {
  display: block;
}

.pencil {
  width: 9%;
  position: absolute;
  top: 52%;
  left: 25%;
  z-index: 1;
}

.pencil img {
  transition: .5s ease;
}

.pencil:hover img {
  transform: translateY(8px);
}

.text4 {
  display: none;
  position: absolute;
  top: 190px;
  left: -20px;
  width: 500px;
}

.pencil:hover .text4 {
  display: block;
}

.box {
  width: 25%;
  position: absolute;
  top: 16%;
  left: 44%;
  z-index: 2;
}

.box img {
  transition: .5s ease;
}

.box:hover img {
  transform: scale(1.1);
}

.text5 {
  display: none;
  position: absolute;
  z-index: 2;
  top: -110px;
  left: 80px;
  width: 500px;
}

.box:hover .text5 {
  display: block;
} */

.nav {
  display: flex;
  position: fixed;
  bottom: 5%;
  left: 5%;
  flex-wrap: wrap;
}

.nav-item {
  border: 1px solid;
  border-radius: 5px;
  padding: .5em .4em .4em .4em;
  margin-right: .5em;
  margin-bottom: .5em;
}

.nav-item:hover {
  background-color: rgba(195, 100, 113, 0.1);
}


.container {
  /* background: darkseagreen;
  width:100vw;
  height:100vh;
  padding: 10px;
  display: flex;
  flex-direction: ; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center; */
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh%;
  padding: 10px;
}

.center {
  /* background: rgb(124, 133, 114); */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  height: 100;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100vh;
  padding-left: 10px;
}

.column-item {
  height: 24%;
  /* background: rgb(137, 154, 94); */
}

#carousel {
  width: 100%;
  white-space: nowrap;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

#carousel .slide {
  display: inline-block;

}

*/