* {
  box-sizing: border-box;
}

html {
  cursor: url('cursor1.png'), auto;
}

body {
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  font-size: 14px;
  background-color: rgb(0, 0, 0);
}

p {
  padding: 1em;
}

img, video {
  max-width: 100%;
}

a:link, a:visited {
  text-decoration: none;
  color: purple;
}

/* page styles */
body#bench main {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "b1 b2 b3 ."
    "b4 b5 b6 b7"
    ". . . b8";
}

#bench img {
  margin: 0;
  vertical-align: top;
}

.b1 {
  grid-area: b1;
}

.b2 {
  grid-area: b2;
}

.b3 {
  grid-area: b3;
}

.b4 {
  grid-area: b4;
}

.b5 {
  grid-area: b5;
}

.b6 {
  grid-area: b6;
}

.b7 {
  grid-area: b7;
}

.b8 {
  grid-area: b8;
}

/* .benchgif {
  position: relative;
  top: 60vh;
  left: -5vw;
  width: 23.8vw;
} */

#billboard img {
  margin: 0px;
  vertical-align: top;
}

body#billboard main {
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "c1 c2 c4 c3";
}

.c1 {
  grid-area: c1;
}

.c2 {
  grid-area: c2;
}

.c3 {
  grid-area: c3;
}

.c4 {
  grid-area: c4;
}

#frazada video {
  margin: 0;
  vertical-align: top;
}

body#frazada main {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    ". f1 f1"
    ". f1 f1";
}

.f1 {
  grid-area: f1;
}

#maracas video {
  margin: 0;
  vertical-align: top;
}

body#maracas main {
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "m1";
}

.m1 {
  grid-area: m1;
}

#nails video {
  margin: 0;
  vertical-align: top;
}

body#nails main {
  width: 850px;
  margin: auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "n1"
    "n2";
}

.n1 {
  grid-area: n1;
}

.n2 {
  grid-area: n2;
}

#rocking video {
  margin: 20;
  vertical-align: top;
}

body#rocking main {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "r1 r3"
    "r2 .";
}

.r1 {
  grid-area: r1;
}

.r2 {
  grid-area: r2;
}

.r3 {
  grid-area: r3;
}


#key img {
  margin: 20px;
  vertical-align: top;
}

body#key main {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  grid-template-areas:
    ". k2 k1 .";
}

.k1 {
  grid-area: k1;
}

.k2 {
  grid-area: k2;
}

#library img video {
  margin: 0px;
  vertical-align: top;
}

body#library main {
  margin: 0;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  grid-template-areas:
    "l1 l3 l2"
    "l4 l5 l6";

}

.l1 {
  grid-area: l1;
}

.l2 {
  grid-area: l2;
}

.l3 {
  grid-area: l3;
}

.l4 {
  grid-area: l4;
}

.l5 {
  grid-area: l5;
}

.l6 {
  grid-area: l6;
}

body#antennas main {
  margin: 0;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  grid-template-areas:
    "a4 a3 a2"
    "a6 a5 a1";

}

.a1 {
  grid-area: a1;
}

.a2 {
  grid-area: a2;
}

.a3 {
  grid-area: a3;
}

.a4 {
  grid-area: a4;
}

.a5 {
  grid-area: a5;
}

.a6 {
  grid-area: a6;
}

#spiral video {
  margin: 0px;
  vertical-align: middle;
}

body#spiral main {
  margin: 0px;
  /* display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "s1"; */
}

.s1 {
  grid-area: k1;
}


/* media */


 @media only screen and (max-width: 600px) {

   /* #library {
     display: block;
   } */

  body#antennas main, body#rocking main, body#nails main, body#library main, body#bench main, body#billboard main, body#key main, body#frazada main, body#marracas main, body#spiral main

  {display: block}

 }
